<html>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <body>
        <div style ="margin:40px">
            <table id="tbl">
                <tr>
                  <th style ="width:300px">Name (optional)</th>
                  <th>Article Number</th>
                  <th>Quantity</th>
                </tr>
                <tr>
                  <td><input style ="width:300px" value='1" mess albu innv./utv.Isiflo gjengefittings'></td>
                  <td><input value='5020146'></td>
                  <td><input value="2"></td>
                </tr>
              </table>
              <button onclick="myCreateFunction()">ADD</button>
              <br><button onclick="send()">Send Request</button>
              <br><button onclick="reset()">Reset</button><br><br>
              <div>
                  Results<br>
                  <div id="quote">
                      Time suggested: 
                  </div>
                  <div id="recc">
                      Reccomended Items: 
                  </div>

              </div>
        </div>
    </body>
    <script>
        function reset(){
            document.getElementById("quote").innerHTML="Time suggested: "
            document.getElementById("recc").innerHTML="Reccomended Items: "
            document.getElementById("tbl").innerHTML='<tbody><tr><th style="width:300px">Name (optional)</th><th>Article Number</th><th>Quantity</th></tr><tr><td><input style="width:300px" value=\'1" mess albu innv./utv.Isiflo gjengefittings\'></td><td><input value="5020146"></td><td><input value="2"></td></tr></tbody>'
        }
        function myCreateFunction() {
            var table = document.getElementById("tbl");
            var row = table.insertRow(table.rows.length);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2)
            cell1.innerHTML = '<input style ="width:300px">'
            cell2.innerHTML = "<input >"
            cell3.innerHTML = "<input >"

        }
        function send(){
            var table = document.getElementById("tbl");
            dict = {}
            for(i=0;i<table.rows.length;i++){
                if (i==0) continue;
                artnum = table.rows[i].cells[1].children[0].value
                if (artnum =="") continue
                quant = table.rows[i].cells[2].children[0].value
                dict[artnum.toString()]=parseInt(quant)

            }
            sendQuote({"job":dict})
            sendReccomend(dict)
        }
        function sendQuote(formData){
            t = document.getElementById('tbl')
            for(i=1;i<t.rows.length;i++){
                t.rows[i].cells[1].children[0].style.backgroundColor="white"
            }
            fetch(`${window.origin}/api/predict`, {
                method: "POST",
                credentials: "include",
                body: JSON.stringify(formData),
                cache: "no-cache",
                headers: new Headers({
                "content-type": "application/json"
                })
            })
            .then(function(response) {console.log(response);
                response.text().then(function(text){
                    console.log(text)
                    t = document.getElementById('tbl')
                    
                    for(i=1;i<t.rows.length;i++){
                        item = t.rows[i].cells[1].children[0]
                        if (text.found.includes(item.value)){
                            item.style.backgroundColor="lightgreen"
                        }
                    }
                    document.getElementById("quote").innerHTML="Time suggested: "+text.guess
                })})
        }
        function sendReccomend(formData){
            query=""
            for (n in formData){
                query+="nums="+n.toString()+"&"
            }
            fetch(`${window.origin}/api/recommend?`+query, {
                method: "GET",
                credentials: "include",
                cache: "no-cache",
            })
            .then(function(response) {console.log(response);
                response.text().then(function(text){
                    console.log(text)
                    document.getElementById("recc").innerHTML="Reccomended Items: "+text.toString()
                })})
        }
    </script>
</html><!--<html>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <body>
        <div>
            job:<textarea type="text" id="job" rows="6" cols=40>{"5062806":2,"9310331":1,"5066603":2,"3401437":1, "5020436":1}</textarea>
            jobID:<input type="text" id="jobid" value="8823"/>
            time:<input type ="text" id="time" value = "0"/>
            <br><button onclick="test1()">Send</button>
        </div>
        <br><br>
        <div>
            full:<textarea type="text" id="full" rows="2"></textarea>
            <button onclick="test0()">Send full</button>
        </div><br><br>
        <button onclick="test2()">Send Default</button>
        <br>
        <br>
        Result:
        <div id="result"></div>
    </body>
    <script>
        function test0(){
            console.log(document.getElementById("full").value)
            formData = JSON.parse(document.getElementById("full").value)
            test(formData)
        }
        function test1(){
            formData = {job: JSON.parse(document.getElementById("job").value),
                        jobID: document.getElementById("jobid").value,
                        time: document.getElementById("time").value}
            test(formData)
        }
        function test2(){
            formData = {job:{5062806:2,9310331:1,5066603:2,3401437:1,5020436:1},jobID:832345}
            test(formData)
        }
        function test(formData){
            fetch(`${window.origin}/api/predict`, {
                method: "POST",
                credentials: "include",
                body: JSON.stringify(formData),
                cache: "no-cache",
                headers: new Headers({
                "content-type": "application/json"
                })
            })
            .then(function(response) {console.log(response);
                response.text().then(function(text){
                    console.log(text)
                    document.getElementById("result").innerHTML=text
                })})
        }
    </script>
</html>-->
